@import './colors';

body {
  align-items: center;
  display: flex;
  justify-content: center;
}

h1 {
  color: $dark-green;
  text-align: center;
}

ul,
li {
  margin: 10px 7px;
  padding: 0;

  a {
    color: $tumble-weed;
  }
}

.search {
  margin-bottom: 20px;
  text-align: center;

  input {
    margin-right: 10px;
  }
}
